@model IEnumerable<TimeTracker.Web.Models.Booking>

@{
    ViewBag.Title = "Bookings for Project " + ViewBag.Project.Name;
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {projectId = ViewBag.Project.Id})
</p>
<table>
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursWorked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
